/* Importa los colores generados por Matugen */
@import "colors.css";

/* Configuración general de la fuente y color */
* {
    font-family: "JetBrainsMono Nerd Font", sans-serif; 
    font-size: 14px;
    font-weight: bold;
    color: @on_background; /* Texto dinámico (blanco o negro según el fondo) */
    border: none;
    box-shadow: none;
}

/* Control de la barra completa */
window#waybar {
    /* Usamos el fondo de Matugen aplicando 80% de opacidad  */
    background-color: alpha(@background, 0.8); 
    border-radius: 30px; 
    border: none; 
}

/* Zonas de la barra (márgenes internos) */
.modules-left {
    padding: 6px 0px 6px 15px;
}

.modules-center {
    padding: 6px 0px;
}

.modules-right {
    padding: 6px 15px 6px 0px;
}

/* Alineación y Simetría */
#network, #pulseaudio, #bluetooth, #backlight, #battery {
    margin-left: 6px; 
    margin-right: 6px;
    margin-top: 3px; 
    transition: color 0.2s ease; 
}

#tray {
    margin-left: 6px; 
    margin-right: 6px;
    padding: 0;
}

/* Efecto hover con el color terciario dinámico para romper la monotonía */
#network:hover, #pulseaudio:hover, #bluetooth:hover, #backlight:hover, #battery:hover {
    color: @tertiary;
}

/* Estilos para los números de los workspaces de Hyprland */
#workspaces button {
    color: alpha(@on_background, 0.5); /* Iconos inactivos un toque más apagados */
    padding: 0px 8px;
    border-radius: 15px;
    transition: all 0.2s ease; 
}

#workspaces button.active {
    color: @on_primary; /* Texto que resalte perfectamente sobre el fondo activo */
    background-color: alpha(@primary, 0.8); /* Fondo del workspace activo usando el primario */
}

#workspaces button:hover {
    background-color: alpha(@surface_variant, 0.4);
    box-shadow: inherit;
    text-shadow: inherit;
}

/* Estilos de los tooltips emergentes */
tooltip {
    background-color: alpha(@surface, 0.95);
    border: 1px solid alpha(@primary, 0.3); /* Borde sutil con el color principal del fondo */
    border-radius: 10px;
    padding: 20px; 
}

tooltip label {
    color: @on_surface;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 15px; 
}

tooltip label tt {
    font-size: 18px; 
}
